/* Cachez le curseur de défilement par défaut */
.Parent {
    -fx-background-color:#27DEC1;
    -fx-background-radius:5;
    overflow: hidden;
}

/* Faites apparaître le curseur de défilement lorsque vous passez la souris dessus */
.Parent:hover {
    -fx-background-color:#27DEC1;
    -fx-background-radius:5;
    overflow-y: scroll;
}
